body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-bottom: 0px;
}

.top-container {
  background-color: #9AD0EC;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 700px;
  bottom: 300px;
}
